.heading{
    background-color: rgb(41, 40, 40, 0.9);
}

body{
background-image: url(run5.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center; 
background-color:rgb(41, 40, 40); 
}

form{
    background-color:rgba(240, 237, 237, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 600px;
    height: 630px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 4px 4px 6px rgba(0, 0, 0, 0.5);
}

 h1{
    font-family: 'Figtree', sans-serif;
    font-size:  55px;
    color: white;
    text-shadow: 2px 4px 6px rgba(201, 46, 46, 0.5);
} 

h3{
    font-family: 'Figtree', sans-serif;
    text-align: center;
    font-size: 25px;
    color:#4d4d4d; 
    
}
h4{
    font-family: 'Figtree', sans-serif;
    text-align: center;
    color:#4d4d4d;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(216, 160, 160);
} 
 h6{
    font-family: 'Figtree', sans-serif;
    text-align: center;
    color:#4d4d4d; 
    line-height: 5px;
 }
.all{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}


.distance{
    display: flex;
    flex-direction: column;
    margin-right: auto;

}
.meters{
    display:flex;
    justify-content:start ;
    margin-top: 15px;
}

.chrono{
    display:flex;
    margin-right: auto;
    margin-top: 15px;
}

.details{
    margin: auto 10px ; 
    color:#4d4d4d;
    
}
input, #input {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin: 10px;
    width: 100px;
    border-radius: 15px;
    border-style: none;

  }
 .btn{
    display: flex;
    justify-content: center;
    font-family: 'Figtree', sans-serif;
    font-size:  15px;
    background-color: rgb(209, 24, 24);
    color: #f7f0db;
    margin: 10px;
    padding: 5px;
    width: 150px;
    border-radius: 15px;
 }
.results{
display: flex;
justify-content: space-around;
padding: 15px;
width: 600px;

}
 .resultOne, .resultTwo{
display: flex;
flex-direction: column;
justify-content: start;
margin-top: 20px;
 }

 .showSpeed, .showTime{
    text-align: center;
    margin-top: 25px;
    background-color:#4d4d4d;
    padding: 5px 15px;
    border-radius: 30px;
    width: 150px;
    align-self: center;
    color: white;
    text-shadow: 2px 4px 6px rgba(201, 46, 46, 0.5);
 }
 
#allure, #speed{
    font-size: 25px;
}
span{
    font-size: 20px;
}
 
.footer{
    background-color: rgb(41, 40, 40, 0.9);
    color: whitesmoke;
 
}
.texto{
    font-size: 12px;
    line-height: 14px;
}

@media all and (max-width: 500px) {
    h1{
        font-size:  40px;
    }
    
    h3{
        font-size: 20px;
    }
    h6{
 
        line-height: 15px;
     }
    form, .results{
        width: 400px;     
    }
.chrono{
    width: 370px;  
}
    input, #input,#meters  {
        margin: 5px;
        width: 70px;
    
      }
      span{
        font-size: 15px;
    }
   
    .details{
        margin-right: 10px ; 
    }
    .texto{
        font-size: 10px;
        line-height: 11px;
        padding-left:25px;
        padding-right: 25px;

        
    }
}